---
layout: default
title: Impresum
---

<p>Operated by: Aron Wolf<br>Prinzstraße 18,<br>86153 Augsburg</p>
<p><strong>Kontakt</strong><br>email: aronwolf90@gmail.com</p>
<p></p>
<p>———————————————————————</p>
<div class="wp-container-1 wp-block-group alignwide"><div class="wp-block-group__inner-container">
<div class="wp-block-media-text alignwide is-stacked-on-mobile is-vertically-aligned-top" style="grid-template-columns:17% auto"><figure class="wp-block-media-text__media"><img width="231" height="312" src="https://about.ticktensio.com/wp-content/uploads/2020/08/unnamed.png" alt="" class="float-start me-3" srcset="https://about.stage.ticktensio.com/wp-content/uploads/2020/08/unnamed.png 231w, https://about.stage.ticktensio.com/wp-content/uploads/2020/08/unnamed-222x300.png 222w" sizes="(max-width: 231px) 100vw, 231px"></figure><div class="wp-block-media-text__content">
<h1>Aron Wolf</h1>



<p>I am a Full-Stack web developer. In my free time I like to play computer games like Dota or Age of Empires and doing things like hiking or diving.</p>



<p><strong>Skills</strong>: Ruby on Rails (web framework), Elixir (programming language), Kubernetes (System administration tool).<br><strong>Birthday</strong>: 17.08.2992<br><strong>Languages</strong>: German, Spain and English</p>
</div></div>
</div></div>



<p></p>
