---
layout: default
title: Project management software
description: A free and open source platform to manage your business online.
---

<div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Time tracking</h2>
                <p>You can create tickets and record time on them.</p>
                <a href="/time-tracking">more</a>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Documents</h2>
                <p>You can share your documents (e.g. PDF) with your team on the platform.</p>
                <a href="/documents">more</a>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Calendar</h2>
                <p>You can share your appointments with your team.</p>
                <a href="/calendar">more</a>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Ticket board</h2>
                <p>Manage your tickets per project and globally.</p>
                <a href="/ticket-board">more</a>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Manage projects</h2>
                <p>Organize and manage small and big projects.</p>
                <a href="/manage-projects">more</a>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h2>Wiki</h2>
                <p>It offers a wiki where you can share information with your team easily.</p>
                <a href="/wiki">more</a>
            </div>
        </div>
        <br>
    </div>
</div>
<hr class="divider">
<br>
<div class="row">
    <div class="col-md-4">
        <p><i class="fa fa-users fa-2x"></i> Do you have a small to medium company? Then this is what you were searching for.</p>
    </div>
    <div class="col-md-4">
        <p><i class="fa fa-dollar fa-2x"></i> Do you not want or can not spend thousands of euros/dollars on a platform like this? Then this is perfect for you.</p>
    </div>
    <div class="col-md-4">
        <p><i class="fa fa-code fa-2x"></i> You have special needs but do not want to develop a platform from zero. Then this project is your friend.</p>
    </div>
</div>
