---
layout: default
title: Price
---

<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card border-secondary">
      <div class="card-header">
        Self Hosting
      </div>
      <div class="card-body">
        The project is open source, so you can download the code and install it on your own server.
        Because this requires very good technical skills, this is not recommended for everyone.
      </div>
      <div class="card-footer">
        Gratis
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card border-success">
      <div class="card-header">
        Gratis
      </div>
      <div class="card-body">
        The online platform is gratis if you only need 5 or fewer users. Also, it is free if you can prove that you create only open-source code, or you are a nonprofit organization.
      </div>
      <div class="card-footer">
        Gratis
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card border-warning">
      <div class="card-header">
        Premium
      </div>
      <div class="card-body">
        Any additional user (the first 5 are gratis) has a cost of 5 Euros per month.
      </div>
      <div class="card-footer">
        5 Euro * additional user
      </div>
    </div>
  </div>
</div>
