---
layout: default
title: Time tracking
---

<p>This feature allows your employees to track the time that they
have spent on a specific ticket. Also, it allows you to see what
activity each of them has been working at a certain moment. This
feature is especially important for service providers that need to
communicate with their customers on how much time has been spent
on their projects.</p>

<div class="row">
  <div class="col-12">
    <img
      loading="lazy"
      width="171"
      height="346"
      src="/assets/images/left_aside.png"
      alt="Ticket record section"
      class="float-start pe-3"
    >
    <h2>Find fast tickets on what to track time</h2>

    <p>
      Every ticket has a play or stop button that allows your employees to record
      their current work.
    </p>

    <p>
      To easily find the ticket on what to track time, there is a search field on every
      page’s left aside. This is especially useful if your employees have often to switch
       between tasks.
    </p>

    <p>
      The search function allows you to find any ticket/task of every project. If you need
      to find an issue on a specific project, then you can use the search field at the top
      of the “tickets” page.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Visualize the spent time</h2>
    <p>
      It is possible to show your own spent time; the time spent on every project
      and the time spent per user. As you can see in the screenshot, the records are
      grouped per day to allow you to get a fast overview of the last weeks. There is
      also an informative text on the top, that shows the employees, how much they have
      worked during the month.<br>
    </p>
  </div>
  <div class="col-md-6">
    <img
      loading="lazy"
      src="/assets/images/records.png"
      alt="Time records"
      class="img-thumbnail"
    >
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 order-md-2">
    <h2>Export the tracked time</h2>
    <p>
      It is possible to export the tracked time as an Excel document (CSV).
      This is especially useful for:
    </p>

    <ul>
      <li>Creating invoices for your customers.</li>
      <li>Make prognostics about your company.</li>
      <li>To extract statistical data.</li>
    </ul>
  </div>
  <div class="col-md-6 order-md-1">
    <img
      loading="lazy"
      src="/assets/images/record_csv.png"
      alt="CSV records"
      class="img-thumbnail"
    >
  </div>
</div>
