<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <a class="text-dark" href="/terms-of-service">Terms of service</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <a class="text-dark" href="/privacy-policy">Privacy Policy</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <a class="text-dark" href="/impresum">Impresum</a>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <a class="text-dark" href="/impresum">aronwolf90@gmail.com</a>
      </div>
    </div>
  </div>
</footer>
