<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ticktensio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Features
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/time-tracking">Time tracking</a></li>
            <li><a class="dropdown-item" href="/self-hosting">Self hosting</a></li>
            <li><a class="dropdown-item" href="/documents">Documents</a></li>
            <li><a class="dropdown-item" href="/wiki">Wiki</a></li>
            <li><a class="dropdown-item" href="/calendar">Calendar</a></li>
            <li><a class="dropdown-item" href="/ticket-board">Ticket board</a></li>
            <li><a class="dropdown-item" href="/manage-projects">Manage projects</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Support
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="https://gitlab.com/cmc_system/cmc/-/issues/new"
              >
                Questions
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://gitlab.com/cmc_system/cmc/-/issues/new"
              >
                Report bug
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://gitlab.com/cmc_system/cmc"
              >
                Repository
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/philosophy"
              >
                Philosophy
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/price">Price</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="btn btn-dark full-width-small"
            href="https://ticktensio.com/registrations/new"
          >
            Register
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://ticktensio.com/users/sign_in"
          >
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
