---
---

@import 'bootstrap-5.2.1/bootstrap';
@import 'font-awesone-4/scss/font-awesome.scss';

body {
  font-family: "Arial", "Verdana", "sans-serif";
  font-size: 18px;
}

@media(max-width: 768px) {
  .full-width-small {
    width: 100%;
  }
}
