<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <meta name="description" content="Open source project management tool. It allows you to manage projects, create tickets, document things in a wiki, upload files and record time on tickets.">

    <title>{{ page.title }} - Ticktensio</title>
    <link
      rel="stylesheet"
      href="{{ "/assets/css/main.css" | relative_url }}?{{site.time | date: '%s'}}"
    >
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include navbar.html %}
    <div class="text-dark p-5" style="background-color: #e9ecef;">
      <div class="container">
        <h1 class="display-3">{{ page.title }}</h1>
        <h4>{{ page.description }}</h4>
      </div>
    </div>
    <div class="container content">
      <br/>
      {{ content }}
    </div>
    {% include footer.html %}
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}?{{site.time | date: '%s'}}" ></script>
  </body>
</html>
